body {
    background-color: chartreuse;
    text-align: center;
}

a {
    padding: 5px;
    background-color: rgb(131, 123, 123);
    border-radius: 40%;
    text-decoration: none;

    color: black;
    border: solid 2px;
    border-color: black;
}